@font-face {
  font-family: "BasicSansHeavySFBold";
  src: local("Basic Sans Heavy SF Bold"),
    url("/assets/fonts/BasicSansHeavySFBold.woff") format("woff"),
    url("/assets/fonts/BasicSansHeavySFBold.ttf") format("truetype");
}
@font-face {
  font-family: "Myanmar MN";
  src: local("Myanmar MN"), url("/assets/fonts/MyanmarMN.woff") format("woff"),
    url("/assets/fonts/MyanmarMN.ttf") format("truetype");
}


.font-basic-sans{
  font-family: "BasicSansHeavySFBold";
  
}

.text-rl {
  writing-mode: vertical-rl;
}
.z-3 {
  z-index: 3 !important;
}

.z-2 {
  z-index: 2 !important;
}

.z-1 {
  z-index: 1 !important;
}

.z-n1 {
  z-index: -1 !important;
}
.float-icon {
  position: fixed;
  z-index: 299;
  width: 32px;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
}

.ratio1-1{
  aspect-ratio: 1/1
}
.img-fluid {
  object-fit: cover;
}

.title-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: calc(9vw);
  padding-bottom: calc(7vw);
}
.title-word {
  color: rgba($color: $white, $alpha: 0.74);
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-align: center;
}

.breadcrumb {
  justify-content: center;
}
.breadcrumb-item {
  color: rgba($color: $white, $alpha: 0.86);
  letter-spacing: 0.2rem;

  a {
    text-decoration: none;
    color: rgba($color: $white, $alpha: 0.86);
    letter-spacing: 0.2rem;
  }
}

.nav-class {
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  .class-item {
    color: $info;
    font-weight: 500;
    letter-spacing: 0.2rem;
    a {
      font-weight: 500;
      letter-spacing: 0.2rem;
      color: $info;
      text-decoration: none;
      padding-right: 1rem;
      padding-left: 1rem;
      text-wrap: nowrap;
      &:hover {
        color: $primary;
      }
    }
  }
}
.container-broken {
  margin: 0 auto;
  padding-right: calc(2vw);
  padding-left: calc(2vw);
}
.icons_35{
  aspect-ratio: 1/1;
  width: 35px;
}
@include media-breakpoint-up(md) {
  .float-icon {
    width: 40px;
    right: 16px;
    bottom: 16px;
  }
}
@include media-breakpoint-up(lg) {
  .nav-class {
    justify-content: center;
    .nav-item {
      a {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
    }
  }
  .container-broken {
    margin: 0 auto;
    padding-right: calc(5vw);
    padding-left: calc(5vw);
  }
}
