<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Hylas</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <main class="about text-center">
      <section class="hero">
        <div class="container" style="margin-bottom: 64px;">
          <p class="text-info fw-medium fs-5 mb-4">WE ARE</p>
          <h2 class="text-gray mb-2" style="font-size: 100px;">Hylas</h2>
          <p class="text-info mb-2 fw-medium fs-6">
            Queen Long Marine has been shaping the future with it's innovative,<br />
            award-winning, luxury Hylas Yachts for over 40 years
          </p>
          <img src="/assets/images/Abouthero.png" alt="" class="img-fluid mb-4" />
        </div>
        <div class="container" style="margin-bottom: 72px;">
          <h3 class="fw-semibold">HYLAS LEGACY</h3>
          <p class="fw-light text-black">
            Third-generation family owned and operated for three decades and
            counting, Queen Long Marine shipyard and Hylas Yachts have been
            built on decades of dedication and commitment, producing boats that
            are both imbued with history and tradition while staying adapted for
            the world today and beyond.
          </p>
          <p class="fw-light text-black">
            From the elegant designs down to the meticulous internal wiring, the
            quality of a Hylas Yacht is evident throughout.
          </p>
        </div>
        <div class="container" style="margin-bottom: 72px;">
          <div class="box shadow-box p-2">
            <h3 class="fw-semibold">LUXURY DESIGN</h3>
            <p class="fw-light text-black">
              Hylas yachts are equipped with reliable equipment and expert
              engineering, all while blending comfort and style to meet even the
              most stringent cruising needs.
            </p>
            <p class="fw-light text-black">
              Our design team features renowned naval architects such as
              Sparkman & Stephens, German Frers, Bill Dixon, and Dean Salthouse.
              The shipyard is constantly working on new design turn-out, with
              our most recent range innovation being thanks to collaborations
              with Zurn Yacht Design (US) and Hot Lab (Italy).
            </p>
            <p class="fw-light text-black">
              We actively work to improve and innovate based on industry
              advancements as well as customer contributions.
            </p>
          </div>
        </div>
        <div class="movie"  style="margin-bottom: 72px;">
          <img src="/assets/images/AboutMovie.png" alt="" class="w-100">
        </div>
      </section>
      <section class="container mb-4" style="margin-bottom: 72px;">
        <h3 class="fw-semibold">ABOUT QUEEN LONG MARINE</h3>
        <p class="fw-light text-black">
          The Queen Long Marine shipyard, founder and owner of the Hylas Yachts
          brand since 1985, has produced sailboats for over 40 years. Located in
          Kaohsiung, Taiwan, the shipyard is home to a 32,000 sq ft main
          construction hall, a laminating hall, a large paint facility,
          extensive design and administration offices, as well as the famous
          full-sized yacht testing tank complete with a thriving population of
          ornamental Koi Carp.
        </p>
        <p class="fw-light text-black">
          With over 520 vessels launched so far, we pride ourselves on a
          reputation for customized luxury yachts at a competitive price point.
          We sell direct to the customer to offer the best possible service.
        </p>
      </section>
      <section class="container mb-4" style="margin-bottom: 72px;">
        <h3 class="fw-semibold">TIMELINE</h3>
        <img src="/assets/images/about_timeline.png" class="img-fluid" alt="">
        <!-- <div class="time-line">
          <div class="line">
            .
            <div class="card">
              <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
            <p>
              Li Europan lingues es membres del sam familie. Lor separat
              existentie es un myth .
            </p>

            <p>
              Li Europan lingues es membres del sam familie. Lor separat
              existentie es un myth .
            </p>

            <p>
              Li Europan lingues es membres del sam familie. Lor separat
              existentie es un myth .
            </p>

            <p>
              Li Europan lingues es membres del sam familie. Lor separat
              existentie es un myth .
            </p>
          </div>
        </div> -->
      </section>
      <section class="container">
        <h3 class="text-end fw-semibold">
          FOUNDER & CEO
        </h3>
        <div class="d-flex flex-column flex-md-row">
          <div class="col-md-3 me-md-4 col-12 mb-2">
            <img src="/assets/images/CEOPhoto.png" alt="" class="img-fluid" />
          </div>
          <div class="text-start">
            <h4 class="text-info fw-bold">Bill Dixon</h4>
            <p class="text-black">Managing Director</p>
            <p class="text-black">
              Bill is the founder of Dixon Yacht Design and leads on design and
              the strategic direction of the practice with an established
              reputation for award winning design and visionary thinking.
            </p>
            <p class="text-black">
              Throughout the project process he is directly involved and is
              passionate about the detail, ensuring the delivery of the vision
              has been carried through to completion. A lifetime of racing,
              sailing and family cruising, brings a deep understanding of the
              nautical environment and respect for the sea.
            </p>
            <p class="text-black">
              When not designing he is most likely to be found cruising around
              the Solent on his boat or behind a BBQ.
            </p>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <%- include('./layout/jspackage'); -%>   
    <script type="module" src="../main.js"></script>
  </body>
</html>
