<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <section class="hero position-relative">
      <div class="container  position-absolute top-0 start-50 translate-middle-x z-1">
        <div class="secondWord ms-auto">
          <p class="font-monospace title">
            QUEEN LONG MARINE
          </p>
          <div class="v-line">
          </div>
        </div>
        <h2 class="slogan">CUSTOMIZATION</h2>

      </div>
      <img src="/assets/images/hero_bg.png" alt="" class="hero w-100">
    </section>
    <section class="position-relative mb-3" style="margin-bottom: 72px !important;">
      <ul class="list-unstyled m-0 p-0 position-absolute top-0 start-0 z-1 slide-ul">
        <li class="slide-li">
          <h3 class="mx-3 fw-bold text-white">Club system</h3>
          <h4 class="mb-3 mx-0 text-end text-white">俱樂部制度</h4>
        </li>
        <li class="slide-li">
          <h3 class="mx-3 fw-bold text-white">Home maintenance</h3>
          <h4 class="mb-3 mx-0 text-end text-white">到府維修保養</h4>
        </li>
        <li class="slide-li">
          <h3 class="mx-3 fw-bold text-white">Quality Assurance</h3>
          <h4 class="mb-3 mx-0 text-end text-white">品質保證</h4>
        </li>
        <li class="slide-li">
          <h3 class="mx-3 fw-bold text-white">Co-designer</h3>
          <h4 class="mb-3 mx-0 text-end text-white">合作設計師</h4>
        </li>
        <li class="slide-li">
          <h3 class="mx-3 fw-bold text-white">Affirmation of award</h3>
          <h4 class="mb-3 mx-0 text-end text-white">獲獎肯定</h4>
        </li>
      </ul>
      <ul class="list-unstyled mb-0">
        <li><img src="/assets/images/slide.jpg" alt="slide1" class="w-100"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
    <section class="position-relative mb-2">
      <div class="position-absolute top-0 w-100">
        <div class="container">
          <h2 class="text-white fw-semibold text-end" style="font-size: 110px; margin-top: 96px;">SAILING<span class="ms-1 text-success">FLEET</span></h2>
        </div>
      </div>
      <div class="col-9">
        <img src="/assets/images/hero2.jpg" alt="Sailing Fleet" class="img-fluid" srcset="">
      </div>
    </section>
    <section class="mb-1 position-relative">
      <div class="col-4 position-relative">
        <img src="/assets/images/LightOfWaves_2.png" alt="waves" class=" img-fluid">
        <div class="wave-text-area">
          <p class="text-rl  text-white fs-3 fw-bold z1 me-1 h-100" style="margin-top: calc(10.1vw);">FRIENDS PARTY</p>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
