<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Media | Hylas</title>
  </head>
  <body>
    <%- include('./layout/loading'); -%> <%- include('./layout/nav'); -%>
    <main class="media">
      <section
        class="title-image mt-9 w-100 d-flex justify-content-center mb-7"
      >
        <div class="mx-auto">
          <h1 class="title-word">MEDIA</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
              <li class="breadcrumb-item" aria-current="page">MEDIA</li>
            </ol>
          </nav>
        </div>
      </section>
      <%- include('./layout/media/nav-class'); -%>
      <section class="mb-2 container-broken">
        <ul class="list-unstyled row row-cols-1 row-cols-md-2">
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_1.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <p class="card-date">August 27, 2023</p>
                  <h4 class="card-title">
                    More National Acclaim for Hylas Yachts
                  </h4>
                  <p class="card-text">
                    The winners of the Cruising World’s “Boat of the Year”
                    awards have just been announced and the Hylas H57
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_2.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <p class="card-date">August 25, 2023</p>
                  <h4 class="card-title">Hylas H48 Hull 3 Arrives in the US</h4>
                  <p class="card-text">
                    Another Hylas H48 Arrives in the US – We asked the new owner
                    about his plans
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_3.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <p class="card-date">August 22, 2023</p>
                  <h4 class="card-title">
                    More National Acclaim for Hylas Yachts
                  </h4>
                  <p class="card-text">
                    The winners of the Cruising World’s “Boat of the Year”
                    awards have just been announced and the Hylas H57
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_4.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <p class="card-date">August 19, 2023</p>
                  <h4 class="card-title">Hylas H48 Hull 3 Arrives in the US</h4>
                  <p class="card-text">
                    Another Hylas H48 Arrives in the US – We asked the new owner
                    about his plans
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_5.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <p class="card-date">August 15, 2023</p>
                  <h4 class="card-title">
                    More National Acclaim for Hylas Yachts
                  </h4>
                  <p class="card-text">
                    The winners of the Cruising World’s “Boat of the Year”
                    awards have just been announced and the Hylas H57
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_6.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <p class="card-date">August 13, 2023</p>
                  <h4 class="card-title">
                    More National Acclaim for Hylas Yachts
                  </h4>
                  <p class="card-text">
                    The winners of the Cruising World’s “Boat of the Year”
                    awards have just been announced and the Hylas H57
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_7.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <!-- <p class="card-date">August 27, 2023</p> -->
                  <h4 class="card-title">
                    More National Acclaim for Hylas Yachts
                  </h4>
                  <p class="card-text">
                    The winners of the Cruising World’s “Boat of the Year”
                    awards have just been announced and the Hylas H57
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="media_single.html">
              <div class="card border-0 rounded-0">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/media/mdeiaList_8.jpg"
                  alt="Title"
                />
                <div class="card-body">
                  <!-- <p class="card-date">August 27, 2023</p> -->
                  <h4 class="card-title">
                    More National Acclaim for Hylas Yachts
                  </h4>
                  <p class="card-text">
                    The winners of the Cruising World’s “Boat of the Year”
                    awards have just been announced and the Hylas H57
                  </p>
                  <a href="media_single.html" class="next-button"
                    ><span class="next-arrow"></span
                  ></a>
                </div></div
            ></a>
          </li>
        </ul>
      </section>
      <nav class="container mb-7">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled pre-link">
            <a class="page-link border-0" href="#">Prev</a>
          </li>
          <li class="page-item"><p class="page-link border-0 fw-semibold active-page">1</p></li>
          <li class="page-item"><p class="page-link border-0 fw-semibold">of</p></li>
          <li class="page-item">
            <div class="dropdown">
              <button
                class="btn dropdown-toggle border-0 fw-semibold text-primary"
                type="button"
                id="pageDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                3
              </button>
              <ul class="dropdown-menu" aria-labelledby="pageDropdown">
                <li>
                  <a class="dropdown-item" href="#" onclick="updatePageCount(1)"
                    >1</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" onclick="updatePageCount(2)"
                    >2</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" onclick="updatePageCount(3)"
                    >3</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="page-item next-link"><a class="page-link border-0 text-black rounded-0" href="#">Next</a></li>
        </ul>
      </nav>
    </main>
    <%- include('./layout/jspackage'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script>
      function updatePageCount(count) {
        document.querySelector('.active-page').textContent = count;
      }
    </script>
  </body>
</html>
