<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Merchandise Hylas</title>
  </head>
  <body>
    <%- include('./layout/loading'); -%> <%- include('./layout/nav'); -%>
    <main class="merchandise">
      <section
        class="title-image mt-9 w-100 d-flex justify-content-center mb-7"
      >
        <div class="mx-auto">
          <h1 class="title-word">MERCHANDISE</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
              <li class="breadcrumb-item" aria-current="page">MERCHANDISE</li>
            </ol>
          </nav>
        </div>
      </section>
      <section class="container-broken mb-2">
        <img
          src="/assets/images/merchandise/merchandiseSlide.jpg"
          class="img-fluid"
          alt=""
        />
      </section>
      <section class="mb-2 container-broken">
        <ul class="list-unstyled row row-cols-1 row-cols-md-3 row-cols-lg-4">
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProductHeat.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span></span></div>
                  <h4 class="card-title">Port Authority Snapback Truker Cap</h4>
                  <p class="card-text">Port Authority | C112-CRS_HYLAS</p>
                  <p class="card-price">$30.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProductHeat2.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="blue"></span><span class="black"></span><span class="nav-blue"></span><span class="red"> </span><span class="grey"></span><span class="white"></span></div>
                  <h4 class="card-title">Port Authority Flexfit One Ten
                    Cool & Dry Mini Pique Cap</h4>
                  <p class="card-text">Port Authority | C934-CRS_HYLAS</p>
                  <p class="card-price">$32.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProductHeat3.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span></span></div>
                  <h4 class="card-title">Port Authority Low-Profile
                    Snapback Trucker Cap</h4>
                  <p class="card-text">Port Authority | C112LP_HYLAS</p>
                  <p class="card-price">$30.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProductHeat4.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="bule-grey"></span><span class="black"></span><span class="grey"></span></div>
                  <h4 class="card-title">Port Authority Flexfit 110
                    Performance Snapback 
                    Cap C301</h4>
                  <p class="card-text">Port Authority | C301-CRS_HYLAS</p>
                  <p class="card-price">$32.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProductHeat5.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="bule-grey"></span><span class="black"></span><span class="grey"></span></div>
                  <h4 class="card-title">Port Authority Flexfit 110
                    Performance Snapback Cap
                    C301</h4>
                  <p class="card-text">Port Authority | C301-CRS_HYLAS</p>
                  <p class="card-price">$32.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProduct6.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="bule"></span><span class="grey"></span><span class="black"></span><span class="light-blue"></span></div>
                  <h4 class="card-title">Port & Company Sweatshir
                    Blanket</h4>
                  <p class="card-text">Port &Company | 
                    BP78_CRS_HYLAS</p>
                  <p class="card-price">$25.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProduct7.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="black"></span><span class="grey"></span></div>
                  <h4 class="card-title">Port Authority Exec Laptop
                    Tote</h4>
                  <p class="card-text">Port Authority | BG423_CRS_HYLAS</p>
                  <p class="card-price">$34.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProduct8.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="black"></span><span class="grey"></span></div>
                  <h4 class="card-title">Port Authority 18-Can
                    Backpack Cooler BG501</h4>
                  <p class="card-text">Port Authority | BG501_CRS_HYLAS</p>
                  <p class="card-price">$47.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProduct9.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="nav-blue"></span><span class="grey"></span><span class="black"></span></div>
                  <h4 class="card-title">Port Authority Core Soft
                    Shell Vest</h4>
                  <p class="card-text">Port Authority | 
                    J325_CRS_16650487</p>
                  <p class="card-price">$48.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProduct10.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="nav-blue"></span><span class="grey"></span><span class="black"></span></div>
                  <h4 class="card-title">Port Authority Ladies Core 
                    Soft Shell Vest</h4>
                  <p class="card-text">Port Authority | 
                    L325_CRS_16650485</p>
                  <p class="card-price">$48.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProduct11.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="grey"></span> <span class="black"></span><span class="nav-blue"></span></div>
                  <h4 class="card-title">Port Authority Microfleece
                    Jacket</h4>
                  <p class="card-text">Port Authority | 
                    F223_CRS_16650487</p>
                  <p class="card-price">$39.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
          <li class="mb-2 mb-md-4">
            <a href="merchandise_single.html">
              <div class="card border-0 rounded-0 p-3">
                <img
                  class="card-img-top rounded-0"
                  src="/assets/images/merchandise/merchandiseProduct12.jpg"
                  alt="heat"
                />
                <div class="card-body">
                  <div class="card-color"><span class="grey"></span> <span class="black"></span><span class="nav-blue"></span></div>
                  <h4 class="card-title">Port Authority Ladies
                    Microfleece Jacket</h4>
                  <p class="card-text">Port Authority | 
                    L223_CRS_16650486</p>
                  <p class="card-price">$39.00</p>
                  <div class="text-end">
                    <a href="merchandise_single.html" class="next-button"
                      ><span class="next-arrow"></span
                    ></a>
                  </div>
                </div></div
            ></a>
          </li>
        </ul>
      </section>
      <nav class="container mb-7">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled pre-link">
            <a class="page-link border-0" href="#">Prev</a>
          </li>
          <li class="page-item">
            <p class="page-link border-0 fw-semibold active-page">1</p>
          </li>
          <li class="page-item">
            <p class="page-link border-0 fw-semibold">of</p>
          </li>
          <li class="page-item">
            <div class="dropdown">
              <button
                class="btn dropdown-toggle border-0 fw-semibold text-primary"
                type="button"
                id="pageDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                3
              </button>
              <ul class="dropdown-menu" aria-labelledby="pageDropdown">
                <li>
                  <a class="dropdown-item" href="#" onclick="updatePageCount(1)"
                    >1</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" onclick="updatePageCount(2)"
                    >2</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#" onclick="updatePageCount(3)"
                    >3</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="page-item next-link">
            <a class="page-link border-0 text-black rounded-0" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </main>
    <%- include('./layout/jspackage'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
