<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sali H57 | Hylas</title>
  </head>
  <body>
    <%- include('./layout/loading'); -%>
    <%- include('./layout/nav'); -%>
    <main class="media text-center">
      <div class="pt-9 pb-6">
<img src="/assets/images/web/sail_detail2.jpg" class="img-fluid w-3xl-100" alt="">
    </main>
    <%- include('./layout/jspackage'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
