<section class="container mb-5">
  <ul class="nav-class list-unstyled">
    <li class="class-item"><a href="#" class="text-nowrap">All</a></li>
    <li class="class-item">|</li>
    <li class="class-item"><a href="#" class="text-nowrap">News</a></li>
    <li class="class-item">|</li>
    <li class="class-item"><a href="#" class="text-nowrap">Boat Show</a></li>
    <li class="class-item">|</li>
    <li class="class-item"><a href="#" class="text-nowrap">Articles</a></li>
    <li class="class-item">|</li>
    <li class="class-item"><a href="#" class="text-nowrap">Press News</a></li>
    <li class="class-item">|</li>
    <li class="class-item"><a href="#" class="text-nowrap">Videos</a></li>
  </ul>
</section>